<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta http-equiv="proma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no cache" />
  <meta http-equiv="expires" content="0" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app">
  <div id="main">
    <div class="row" v-cloak>
      <!--****填充区******-->
      <section class="col-xs-12">
        <div class="content-box">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <td colspan="2"><strong>{{  lang_t('iot.help') }}</strong></td>
              </tr>         
              <tr v-if="globalConfig.specialIotBanApply!='1'">
                <td style="width: 25%;">{{ lang_t('common.state') }}</td>
                <td>
                  <input type="checkbox" id="switch_status" :checked="toggle_status" data-on-color="warning">
                </td>
              </tr>
             
             <tbody v-if="globalConfig.csid == 'C735PR'">
             <tr v-show="enabled">
               <td>{{ lang_t('iot.pub_hostpath') }}/{{lang_t('qos.port')}}</td>
               <td>
                 <input type="text" v-model="formValidate.pubHostPath" :maxlength="64" style="float: left;width: 30%">
                 <span style="float:left;width:20px; margin-top:6px;">/</span>
                 <input type="text" v-model="formValidate.pubPort" :maxlength="64" style="float: left;width: 10%"><span style="float:left; margin-top:6px;">(1-65535)</span>
               </td>

             </tr>
             <tr v-show="enabled">
               <td>{{ lang_t('iot.pri_hostpath') }}/{{ lang_t('qos.port')}}</td>
               <td>
                 <input type="text" v-model="formValidate.priHostPath" :maxlength="64" style="float: left;width: 30%">
                 <span style="float:left;width:20px; margin-top:6px;">/</span>
                 <input type="text" v-model="formValidate.priPort" :maxlength="64" style="float: left;width: 10%"><span style="float:left; margin-top:6px;">(1-65535)</span>
               </td>
             </tr>
             </tbody>
             <tbody v-else>
              <tr v-show="enabled">
                <td>{{ lang_t('index.server_addr') }}</td>
                <td>
                  <input type="text" v-model="formValidate.hostPath" maxlength="32">
                  <span>({{lang_t('index.domain_ip')}})</span>
                </td>
              </tr>
              <tr v-show="enabled">
                <td>{{ lang_t('index.port') }}</td>
                <td>
                  <input type="number" v-model="formValidate.port" maxlength="5">
                  <span>(1-65535)</span>
               </td>
              </tr>
              </tbody>
              <tr v-show="enabled">
                <td>{{ lang_t('iot.bind_code') }}</td>
                <td>
                  <input type="text" v-model="formValidate.bindCode" maxlength="32">
                </td>
              </tr>

              <tr v-show="enabled">
                <td>{{ lang_t('iot.static_interver') }}(s)</td>
                <td>
                  <input type="number" v-model="statisticInterval" maxlength="5">
                </td>
              </tr>
              <tr v-show="enabled">
                <td>{{ lang_t('iot.warm_interver') }}(s)</td>
                <td>
                  <input type="number" v-model="warningInterval" maxlength="5">
                </td>
              </tr>
              <!-- <tr v-show="enabled">
                <td>{{ lang_t('iot.warm_recover_interver') }}(s)</td>
                <td>
                  <input type="number" v-model="warnRecoverInterval" maxlength="5">
                </td>
              </tr> -->
              <tr v-show="enabled && globalConfig.gpsSupport">
                <td>{{ lang_t('gps.time') }}(s)</td>
                <td>
                  <input type="number" v-model="gpsInterval" maxlength="5">
                </td>
              </tr>
              <tr v-show="enabled">
                <td v-if="globalConfig.c735irSupport">{{ lang_t('iot.lte_interver_1') }}(s)</td>
                <td v-else>{{ lang_t('iot.lte_interver') }}(s)</td>
                <td>
                  <input type="number" v-model="lteInterval" maxlength="5">
                </td>
              </tr>

              <tr v-show="enabled">
                <td>{{ lang_t('index.status') }}</td>
                <td>
                  <span  v-if="connStatus == 0"><span style="color:#fff;background-color:#4682B4;">{{ lang_t('iot.no_bind') }}</span><span>{{ lang_t('iot.bind_crpc_error') }}</span></span>
                  <span  v-if="connStatus == 1"><span style="color:#fff;background-color:#6495ED;">{{ lang_t('iot.no_bind') }}</span><span>{{ lang_t('iot.bind_port_net_error') }}</span></span>
                  <span  v-if="connStatus == 2"><span style="color:#fff;background-color:#778899;">{{ lang_t('iot.no_bind') }}</span><span>{{ lang_t('iot.bind_code_error') }}</span></span>
                  <span  v-if="connStatus == 3"><span style="color:#fff;background-color:#4169E1;">{{ lang_t('iot.no_bind') }}</span><span>{{ lang_t('iot.bind_ready') }}</span></span>
                  <span  v-if="connStatus == 4"><span style="color:#fff;background-color:#035e1e;">{{ lang_t('index.connected') }}</span></span>
                </td>
              </tr>
              <tr v-show="enabled">
                <td colspan="2" v-if="globalConfig.specialIotBanApply!='1'">
                  <button class="btn btn-primary all-but" @click.prevent="handleSubmit">{{lang_t('common.apply')}}</button>
                </td>
              </tr>
           
            </table>

            <!-- <table class="table table-striped">
              <tr>
                <td colspan="2"><b style="font-size: 16px;font-weight: 700;margin-right: 5px;">{{lang_t('menu.gps_set')}}</b><strong>({{  lang_t('iot.help_gps') }})</strong></td>
              </tr>
              <tr v-if="gpsModule!='1'">
                <td colspan="2"><span style="color: #f10f0f;">{{  lang_t('iot.no_gps') }}</span></td>
              </tr>
            </table> -->
            <!-- <table class="table table-striped" v-if="gpsModule=='1'">
              <tr>
                <td style="width: 25%;">{{ lang_t('iot.longitude') }}</td>
                <td>
                  <input type="text" :value="longitude" readonly>
                </td>
              </tr>
              <tr>
                <td>{{ lang_t('iot.latitude') }}</td>
                <td>
                  <input type="text" :value="latitude" readonly>
                </td>
              </tr>
              <tr>
                <td>{{ lang_t('iot.gps_report') }}(s)</td>
                <td>
                  <input type="number" v-model="gpsReportTime" maxlength="5">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button class="btn btn-primary all-but" @click.prevent="submitgps()">{{lang_t('common.apply')}}</button>
                </td>
              </tr>
            </table> -->
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script src="/plugin/vue.js"></script>
<script src="/plugin/jquery-3.2.1.min.js"></script>
<script src="/plugin/bootstrap.min.js"></script>
<script src="/plugin/bootstrap-switch.min.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
      lang:$.lang,
      lang_t:lang_t,
      enabled:false,
      formValidate: {
        pubHostPath: '',
        pubPort: '',
        priHostPath: '',
        bindCode: '',
        priPort: ''
      },
	    connStatus:'0',
      longitude: '',
      latitude: '',
      gpsReportTime: '',
      interval: '',
      statisticInterval: '',
      warningInterval: '',
      warnRecoverInterval: '',
      gpsInterval: '',
      lteInterval: '',
      percentTimer: '',
      gpsModule: ''
    }
  },
  mounted:function(){
    var _this = this;
    addSwitch('#switch_status', function(data){
      if(data != _this.enabled) _this.enabled = data;
      _this.submit_status();
    });
  },
  computed:{
    toggle_status:function(){
      var _this = this;
      $('#switch_status').bootstrapSwitch('state',_this.enabled);
    }
  },
  created:function(){
    var _this = this;
    uiPost.getIotCfg(function(data){
      _this.enabled = data.enabled == "1" ? true : false;
      if(globalConfig.csid == 'C735PR'){
        _this.formValidate.pubHostPath = data.pubHostPath;
        _this.formValidate.pubPort = data.pubPort;
        _this.formValidate.priHostPath = data.priHostPath;
        _this.formValidate.priPort = data.priPort;
      }else{
        _this.formValidate.hostPath = data.hostPath;
        _this.formValidate.port = data.port;
      }
      //_this.connStatus = data.connStatus;
      _this.statisticInterval = data.statisticInterval;
      _this.warningInterval = data.warningInterval;
      //_this.warnRecoverInterval = data.warnRecoverInterval;
      _this.gpsInterval = data.gpsInterval;
      _this.lteInterval = data.lteInterval;
      _this.formValidate.bindCode = data.bindCode;

    });
    _this.getIotStatus();
    if(globalConfig.csid != 'C735PR'){
      _this.percentTimer = setInterval(function(){
        if(_this.percentTimer == 3)
          clearInterval(_this.percentTimer);
        _this.getIotStatus();
      },5000);

    }

     
  },
  methods:{
    submit_status:function(){
      var _this = this;
      var postVar = {};
      if(!_this.enabled){        
        postVar.enabled = "0";
        uiPost.setIotCfg(postVar, apply_callback);
      }      
    },
    getIotStatus:function(){
      var _this = this;
      uiPost.getIotStateCfg(function(data){
        _this.connStatus = data.connStatus;
      });    
    },
    /*submitgps: function() {
      if(99 != cs.num_range(this.gpsReportTime, 1, 86400)){
        errorAlert(lang_t('iot.gps_report') + lang_t('alert.msg15', [1, 86400]));
        return false;
      }
      uiPost.setGpsReportTimeCfg({gpsReportTime: this.gpsReportTime}, apply_callback)
    },*/
    handleSubmit: function(){
      var _this = this;
      var postVar = {};
      if(globalConfig.csid == 'C735PR'){
        if(!_this.formValidate.pubHostPath){
          errorAlert( this.lang_t('iot.pub_hostpath')+this.lang_t('alert.msg5') );
          return false;
        }else if (!cs.isUrl(_this.formValidate.pubHostPath)){
          errorAlert( this.lang_t('iot.pub_hostpath')+this.lang_t('alert.msg42') );
          return false;
        }

        if(_this.formValidate.pubPort == ""){
          errorAlert( this.lang_t('iot.pub_port')+this.lang_t('alert.msg5') );
          return false;
        }else if(99 != cs.num_range(_this.formValidate.pubPort,1,65535)){
          errorAlert(lang_t('iot.pub_port') + lang_t('alert.msg15',[1,65535]));
          return false;
        }


        if(_this.formValidate.priHostPath == ""){
          errorAlert( this.lang_t('iot.pri_hostpath')+this.lang_t('alert.msg5') );
          return false;
        }else if (!cs.isUrl(_this.formValidate.priHostPath)){
          errorAlert( this.lang_t('iot.pri_hostpath')+this.lang_t('alert.msg42') );
          return false;
        }
        if(_this.formValidate.priPort == ""){
           errorAlert( this.lang_t('iot.pri_port')+this.lang_t('alert.msg5') );
          return false;
        }else if(99 != cs.num_range(_this.formValidate.priPort,1,65535)){
          errorAlert(lang_t('iot.pri_port') + lang_t('alert.msg15',[1,65535]));
          return false;
        }

        postVar.pubHostPath = _this.formValidate.pubHostPath;
        postVar.pubPort = _this.formValidate.pubPort;
        postVar.priHostPath = _this.formValidate.priHostPath;
        postVar.priPort = _this.formValidate.priPort;
      }else{
        if(_this.formValidate.hostPath == ""){
          errorAlert(lang_t('index.server_addr') + lang_t('alert.msg5'));
          return false;
        }else if (99 != cs.ip_domain(_this.formValidate.hostPath)){
          errorAlert(lang_t('index.server_addr') + lang_t('alert.msg19'));
          return false;
        }

        if(99 != cs.num_range(_this.formValidate.port,1,65535)){
          errorAlert(lang_t('index.port') + lang_t('alert.msg15',[1,65535]));
          return false;
        }
        postVar.hostPath = _this.formValidate.hostPath;
        postVar.port = _this.formValidate.port;
      }
      if(99 != cs.num_range(this.statisticInterval, 1000, 86400)){
        errorAlert(lang_t('iot.static_interver') + lang_t('alert.msg15', [1000, 86400]));
        return false;
      }
      if(99 != cs.num_range(this.warningInterval, 300, 86400)){
        errorAlert(lang_t('iot.warm_interver') + lang_t('alert.msg15', [300, 86400]));
        return false;
      }

     /* if(99 != cs.num_range(this.warnRecoverInterval, 300, 86400)){
        errorAlert(lang_t('iot.warm_recover_interver') + lang_t('alert.msg15', [300, 86400]));
        return false;
      }*/

      if(99 != cs.num_range(this.gpsInterval, 300, 86400)){
        errorAlert(lang_t('gps.time') + lang_t('alert.msg15', [300, 86400]));
        return false;
      }
      if(99 != cs.num_range(this.lteInterval, 300, 86400)){
        if(globalConfig.c735irSupport)
        errorAlert(lang_t('iot.lte_interver_1') + lang_t('alert.msg15', [300, 86400]));
        else
        errorAlert(lang_t('iot.lte_interver') + lang_t('alert.msg15', [300, 86400]));
        return false;
      }
      postVar.enabled = "1";
      postVar.statisticInterval = _this.statisticInterval;
      postVar.warningInterval = _this.warningInterval;
      //postVar.warnRecoverInterval = _this.warnRecoverInterval;
      postVar.gpsInterval = _this.gpsInterval;
      postVar.lteInterval = _this.lteInterval;
      postVar.bindCode = _this.formValidate.bindCode;
      uiPost.setIotCfg(postVar, apply_callback)
    }   
  }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>