<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta http-equiv="proma" content="no-cache"/>
  <meta http-equiv="cache-control" content="no cache" />
  <meta http-equiv="expires" content="0" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app">
  <div id="main">
    <div class="row" v-cloak>
      <!--****填充区******-->
      <section class="col-xs-12">
        <div class="content-box">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <td colspan="2"><strong>{{ lang_t('radius.help') }}</strong></td>
              </tr>
              <tr>
                <td>{{lang_t('index.server_addr')}}</td>
                <td>
                  <input type="text" v-model="formValidate.server" :maxlength="32" />
                  <span>({{lang_t('index.domain_ip')}})</span>
                </td>
              </tr>
              <tr>
                <td>{{lang_t('index.password')}}</td>
                <td>
                  <input type="text" v-model="formValidate.key" :maxlength="32" />
                </td>
              </tr>              
              <tr>
                <td>{{lang_t('index.port')}}</td>
                <td>
                  <input type="number" v-model="formValidate.port" :maxlength="5" />
                  <span>(80~65535)</span>
                </td>
              </tr>
              <tr>
                <td>{{lang_t('index.interface')}}</td>
                <td>
                  <select v-model="formValidate.interface">
                    <option value="default">default</option>
                    <option value="br0">br0</option>
                    <option value="eth2.2">eth2.2</option>
                    <option value="modem">modem</option>                   
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button type="button" class="btn btn-primary all-but" @click.prevent="handleSubmit">{{lang_t('common.apply')}}</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script src="/plugin/vue.js"></script>
<script src="/plugin/jquery-3.2.1.min.js"></script>
<script src="/plugin/bootstrap.min.js"></script>
<script src="/plugin/bootstrap-switch.min.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script src="/static/js/qrcode.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
	    lang:$.lang,
      lang_t:lang_t,
      formValidate:{
        server:'',
        key:'',
        port:'',
        interface:''
      }
    }
  },
  computed:{
    
  },
  created:function(){
    var _this = this;
    uiPost.getRadiusCfg(function(data){
      _this.formValidate.server = data.server;
      _this.formValidate.key = data.key;
      _this.formValidate.port = data.port;
      _this.formValidate.interface = data.interface;
    })
  },
  methods:{
    handleSubmit:function(){
      var _this = this;
      var postVar = {};

      if(_this.formValidate.server){
        if(99 != cs.ip_domain(_this.formValidate.server)){
          _this.errorAlert(_this.lang_t('index.server_addr') + _this.lang_t('alert.msg19'));
          return false;
        }
      }

      if(_this.formValidate.key){
        if(99 != cs.string(_this.formValidate.key)){
          _this.errorAlert(_this.lang_t('index.password') + _this.lang_t('alert.msg6'));
          return false;
        }
      }

      if(_this.formValidate.port){
        if(99 != cs.num_range(_this.formValidate.port,80,65535)){
          _this.errorAlert(_this.lang_t('index.port') + _this.lang_t('alert.msg15',[80,65535]));
          return false;
        }
      }

      postVar.server = _this.formValidate.server;
      postVar.key = _this.formValidate.key;
      postVar.port = _this.formValidate.port;
      postVar.interface = _this.formValidate.interface;
      uiPost.setRadiusCfg(postVar, apply_callback);
    },
    errorAlert:function(data){
      var _this = this;
      Cstools.msg({
        type: 'error',
        messgetype: 'alert',
        title: _this.lang_t('common.tips'),
        content: data
      });
    }
  }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html> 