*.o
.DS_Store
.*.swp
/env
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/Release/images
/tmp
/logs
/feeds
/feeds.conf
/files
scripts/config/
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
*.log
dl/gcc-12.3.0.tar.xz
dl/linux-5.15.148.tar.xz
dl/linux-firmware-20230804.tar.xz
