config iot 'iotm'
        option enable '0'
        option server_host ''
        option port ''
        option keep_alive ''
        option bind_code ''
        option warning_interval '3600'
        option lte_interval '3600'
		option gps_interval '3600'
		option sysinfo_interval '300'
	option gps_not_report '1'
	option signal '0'
	option sinr '0'
	option startTimes '0'

config iot 'status'
	option reboot_times '0'
	option signal_warning '0'
	option sinr_warning '0'
	option reboot_warning '0'

config para 'default'
	option delay_time '6'
	option log_level '0'
	option publish_subject 'device/report'

	
